<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Prácticas laboratorio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" id="adminAsign">
                <a class="nav-link" href="/administrarAsignaturasProfesor">Administrar Asignaturas</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" id="login">
                <a class="nav-link" href="/logout">Logout</a>
            </li>

        </ul>
    </div>
</nav>
<script>
    $("#<%= activo %>").addClass("active")
</script>