<%- include("./layouts/header", {title:"Añadir Usuarios"}) %>
<%- include("./layouts/navbarAdmin", { activo : "adminUsers"}) %>
<div class="container center">
    <h1>Añadir Usuarios</h1>
    <%- include("./templates/userAdd") %>
</div>