<%- include("./layouts/header", {title:"Administrar Asignaturas"}) %>
<%- include("./layouts/navbarAdmin", { activo : "adminAsign"}) %>

<h1 style="text-align: center;"><%= title %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Tipo Plan de estudio</th>
      <th>Nombre</th>
      <th>InfoInstalar</th>
      <th>Enlaces</th>
      <th>Profes Responsables</th>
      <th>Alumnos</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <% subjectList.map( subjectMap =>{ %>
    <%-include("./templates/subjectTable", { subject: subjectMap }); %>
    <% }) %>
  </tbody>
</table>

<a href="/addSubjectAdmin"><button type="button" class="btn btn-dark">Añadir asignaturas</button></a>

<form action="/fileUpload/subjects" method="post" enctype="multipart/form-data" style="margin-top: 20px;">
  <input type="file" name="file">
  <button class="btn btn-dark" type="submit">Añadir asignaturas desde .csv sin profesores ni alumnos</button>
</form>