<%- include("./layouts/header", {title:"Administrar Asignaturas"}) %>
<%- include("./layouts/navbarAdmin", { activo : "adminAsign"}) %>

<h1 style="text-align: center;"><%= title %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>InfoInstalar</th>
      <th>Enlaces</th>
      <th>Profes Responsables</th>
      <th>Alumnos</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <% subjectList.map( subjectMap =>{ %>
    <%-include("./templates/subjectTable", { subject: subjectMap }); %>
    <% }) %>
  </tbody>
</table>
<button type="submit">Añadir asignaturas</button>