<%- include("./layout/header", { title: "Editar Usuario"}) %>
<h1>Editar Usuario</h1>
<form action="user/edit" method="post">
    <%- include("./templates/userEdit" { user: userEdit }) %>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>