<h1>{{title}}</h1>
<h2>Create User</h2>
<form action="/users/insert" method="post">
    Nombre: <input type="text" name="nombre" id="">
    Apellido: <input type="text" name="apellido" id="">
    Email: <input type="text" name="email" id="">
    Pass: <input type="text" name="pass" id="">
    Rol: <input type="number" name="rol" id="">
    <input type="submit" value="Submit">
</form>