<%- include("./layouts/layout", {title:"Panel de Control Admin"}) %>

<h1><%= user.rol %></h1>
<h1><%= user.nombre %></h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Pass</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>