<%- include("./layouts/header", {title: "Sign up"}); -%>
<%- include("./layouts/navbarIndex", { active : "signup"}) %>


<div class="container center">
  <h2>Create User</h2>
  <% if(message.length==1){ %>

  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <% } %>

  <%- include("./templates/userAdd") %>
</div>