<%- include("./layouts/header", { title: "Ver Asignatura"}); %>
<%- include("./layouts/navbarAlumno", { activo: "asig"}); %>

<div class="container center">
    <h1>Hola <%= nombre %> !</h1>
    <% if(subjectList.length!=0){ %>
    <h3>Tus asignaturas:</h3>
    <% subjectList.map( subject =>{ %>
    <%-include("./templates/subjectAlumno", { subject: subject, filesList: filesList }) %>
    <% }) %>
    <% }else{ %>
    <p>No estás matriculado en ninguna asignatura</p>
    <% } %>
</div>