<%- include("./layouts/header", { title: "Ver Asignatura"}); %>
<%- include("./layouts/navbarAlumno", { activo: "asig"}); %>
<div class="container center">
    <h1>Hola <%= nombre %> !</h1>
    <h3>Tus asignaturas:</h3>
    <% if(subjectList){ %>
    <% subjectList.map( subject =>{ %>
    <%-include("./templates/subjectAlumno", { subject: subject}) %>
    <% }) %>
    <% }else{ %>
    <p>No estás matriculado en ninguna asignatura</p>
    <% } %>
</div>