<div class="form-group">
  <label for="nombre">Nombre: </label
  ><input
    type="text"
    name="nombre"
    id=""
    value="<%= user.nombre %>"
    class="form-control"
  />
</div>

<div class="form-group">
  <label for="apellido">Apellido: </label
  ><input
    type="text"
    name="apellido"
    id=""
    value="<%= user.apellido %>"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="email">Email: </label
  ><input
    type="text"
    name="email"
    id=""
    value="<%= user.email %>"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="pass">Pass: </label
  ><input
    type="password"
    name="pass"
    id=""
    placeholder="Enter new password"
    value=""
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="rol">Rol: </label>
  <select name="rol" id="" class="form-control">
    <option value="1">Administrador</option>
    <option value="2">Profesor</option>
    <option value="3">Alumno</option>
  </select>
</div>
